body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: white;
    min-height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
    line-height: 50px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #3498db;
}
.logo{
    position: absolute;
    top: 5px;
    left: 5px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
}
footer{
    text-align: center;
    width: 100%;
    background-color: #191919;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    height: 1rem;
}
.container {
    background: url("../photo/game.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3498db96;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}