body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: white;
}
label{
    color: white;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.message
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.error{
    color:red;
}
.success{
    color: green;
}
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: hotpink;
}
article{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px 50px;
    background-color: rgb(93, 93, 224);
}
.back{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 7px;
    background-color: #990000;
    border-radius: 5px;
    border: 1px solid black;
    color: white !important;
}
body #loading {
    margin: 50px auto;
    max-width: 1024px;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center; }
body #loading #loading_container {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background: #aaccff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }
body #loading #loading_container #loading_progress {
    display: block;
    height: 100%;
    width: 0;
    color: white;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2bc253;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
    position: relative;
    overflow: hidden; }
body #loading #loading_container #loading_progress span {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 25%;
    display: block;
    font-family: sans-serif; }
