body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: white;
}
article{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px 50px;
}
.back{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 7px;
    background-color: #990000;
    border-radius: 5px;
    border: 1px solid black;
    color: white !important;
}
#title{
    margin-left: 2%;
}
table {
    margin-top: 2vh;
    margin-bottom:2vh;
    background: #191919;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    position: relative;
}
thead, tbody, td, tr, th{
    padding: 20px;
}
th{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
tr{
    height: 5vh;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
.my_score{
    color: rgb(89, 157, 247);
    position: relative;
    font-size: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.select{
    position: absolute;
    right: 15px;
    top: 30px;
}