body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: black;
    font-size: 17px;
}
* {
    box-sizing: border-box;
}

h1{
    font-weight: 300;
    color: #18C2C0;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.container {
    max-width: 1200px;
    height: 96vh;
    margin: 2vh auto;
    padding: 5px 20px 15px 20px;
}
.money{
    margin-top: 5vh;
    background: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 800px;
}
#paypal-button-container{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.bodycoin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}
.header{
    position: absolute;
    top: 3vh;
}
button{
    position: absolute;
    color: white;
    top:160px;
    right:100px;
    background: none;
    border: 2px solid #00bfff;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;

}
button:hover{
    background: rgba(0, 191, 255, 0.2);
}
.box-right>img{
    width: 150px;
    height: 150px;
}
form{
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    position: relative;
    height: 150px;
    margin: 20px 20px 75px 20px;
    box-shadow: 15px 21px 15px 6px rgba(0,0,0,0.75);
}
.box-left{
    float: left;
    height: 100%;
    width: 150px;
}
.box-right{
    float: right;
    height: 100%;
    width: 150px;

}
.left{
    font-size: 2.5em;
    line-height: 80px;
    margin-left: 50px;
}
.back{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 7px;
    background-color: #990000;
    border-radius: 5px;
    border: 1px solid black;
    color: white !important;
}
.koniec{
    text-decoration: none;
    padding: 7px 10px;
    background-color: #16a112;
    border-radius: 5px;
    border: 2px solid black;
    color: white !important;
}
.logo{
    text-align: center;
}
.logo > a{
    color: #2bc253;
    margin-top: 10vh;
}
.check{
    margin-top: -10vh;
}
.rev{
    max-width: 1000px;
    height: auto;
    margin: 9vh auto 0 auto;
    padding: 5px 20px 35px 20px;
    text-align:center;
    background-color: #fff;
    border-radius: 20px;
}
@media (max-width: 600px), (max-height: 750px){
    body{
        padding-top: 12vh;
    }
}
