body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: black;
    font-size: 17px;
}
* {
    box-sizing: border-box;
}

h1{
    font-weight: 300;
    color: #18C2C0;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.container {
    max-width: 1200px;
    height: 96vh;
    margin: 2vh auto;
    padding: 5px 20px 15px 20px;
}
.money{
    margin-top: 5vh;
    background: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 800px;
}
#paypal-button-container{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.bodycoin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}
.header{
    position: absolute;
    top: 3vh;
}
button{
    width: 250px;
    height: 250px;
    background: url("../../game/images/money.png") no-repeat 50%;
    background-size: contain;
    border: none;
}
.lower{
    font-size: 2em;
    text-align: center;
    position: absolute;
    margin-top: 250px;
    margin-left: 70px;
}
.upper{
    position: absolute;
}
.back{
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 7px;
    background-color: #990000;
    border-radius: 5px;
    border: 1px solid black;
    color: white !important;
}
@media (max-width: 600px), (max-height: 750px){
    body{
        padding-top: 12vh;
    }
}
