body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: black;
    font-size: 17px;
}
* {
    box-sizing: border-box;
}

h1{
    font-weight: 300;
    color: #18C2C0;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.container {
    max-width: 1200px;
    height: 96vh;
    margin: 2vh auto;
    padding: 5px 20px 15px 20px;
}
.money{
    margin-top: 5vh;
    background: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 800px;
}
#paypal-button-container{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}