@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.container{
	width:100%;
	height: 100vh;
	background-color:#34495e;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
.marvel{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .marvel{
	transition: all ease 0.5s;
}
.box:hover .common{
	color: #6a6a74;
}
.box:hover .uncommon{
	color: #3498db;
}
.box:hover .rare{
	color: #2bc253;
}
.box:hover .epic{
	color: blueviolet;
}
.box:hover .legendary{
	color: darkorange;
}
.box:hover .event{
	color: #990000;
}
.back{
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 7px;
	background-color: #990000;
	border-radius: 5px;
	border: 1px solid black;
	color: white !important;
}
nav{
	position: fixed;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	height: 38px;
	top: 10px;
	right: 10px;
	background-color: #333333;
	border: 3px solid #00bfff;
	border-radius: 5px;
	padding: 0 0 0 10px;
}
.moneys{
	font-size: 25px;
	color: #fff;
	padding-left: 40px;
	margin-top: 5px;
}
.adds{
	font-size: 30px;
	background-color: #111111;
	border-radius: 15px 0 0 15px;
	border: 2px solid #00bfff;
	padding: 0 7px;
	font-weight: 900;
	margin-left: 5px;
}
.adds:hover{
	background-color: #353535;
}
.iconDetails {
	position: absolute;
	top: 5px;
}
a:link {
	color: green;
}

/* visited link */
a:visited {
	color: red;
}

/* mouse over link */
a:hover {
	color: blue;
}

/* selected link */
a:active {
	color: hotpink;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}
